//
   Created by 刘柘林 on 2018/1/27.
extends layout
block content
    .contact
        .container
            h3
                a(href='login') 登录
                | /注册
            .grid_3.grid_5
                .bs-example.bs-example-tabs
                    ul.nav.nav-tabs
                        li.active
                            a(href='#stu_register', data-toggle='tab') 学生注册
                        li
                            a(href='#tea_register', data-toggle='tab') 教师注册
                    .tab-content
                        #stu_register.tab-pane.fade.in.active
                            .col-md-7.contact-left
                                form(action='/register/student',method='post')
                                    input(type='text', name='account', placeholder='账号', required='')
                                    input(type='password', name='password', placeholder='密码', required='')
                                    input(type='text', name='school', placeholder='学校', required='')
                                    input(type='text', name='grade', placeholder='年级', required='')
                                    input(type='text', name='name', placeholder='真实姓名', required='')
                                    input(type='submit', value='提交')
                            .clearfix
                        #tea_register.tab-pane.fade
                            .col-md-7.contact-left
                                form(action='/register/teacher',method='post')
                                    input(type='text', name='account', placeholder='账号', required='')
                                    input(type='password', name='password', placeholder='密码', required='')
                                    input(type='text', name='name', placeholder='真实姓名', required='')
                                    input(type='text', name='grade', placeholder='教育对象(小学,初中,高中)', required='')
                                    input(type='text', name='category', placeholder='科目', required='')
                                    input(type='submit', value='提交')
                            .clearfix

