extends  layout
-var src
block content
    .container
            video(style="clear:both;display:block;margin:auto",controls='')
                //source(src='/video?cid=1&&vid=1',type='video/mp4')
                source(src=src,type='video/mp4')