//
   Created by 刘柘林 on 2018/2/10.
extends  ../layout
-var teachers,t_cnt
block script
    script(src='/js/my_js/select_teacher.js')
    script(src='/js/my_js/background.js')
block content
    .select_course
        .container
            .top-nav
                h3
                    b 年级
                ul#grade
                    li.select-cur(data-selected="1") 全部
                    li 小学
                    li 初中
                    li 高中
            .top-nav
                h3
                    b 学科
                ul#category
                    li.select-cur(data-selected="1") 全部
                    li 语文
                    li 数学
                    li 英语
                    li 物理
                    li 化学
                    li 生物
                    li 政治
                    li 历史
                    li 地理
                    li 其他
    .select_course
        .container
            .testimonial-grids#teachers
                each item,index in teachers
                    .col-md-4.testimonial-grid
                        .testimonial-grd
                            a(href='/teacher/detail?tid=' + '' + item.dataValues.id + '')
                                i #{item.dataValues.name}
                                | #{item.dataValues.grade}&nbsp;#{item.dataValues.category}
                                br
                                | 课程数量:&nbsp;#{t_cnt[index]}
                            .testimonial-grd-pos
                                span
            //.clearfix
